@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #252525;
}

*:focus {
    outline: none;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  margin: -4px 10px 0 10px;
  padding: 4px 15px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  background: #2196f3FF;
  font-size: 12px;
  position: relative;
}

.btn:hover {
  background: #2196f3CC;
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.btn:disabled {
  cursor: not-allowed;
  background: #2196f3CC;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.active {
  font-weight: bold;
}

.nav {
  position: relative;
}

.nav ul, .nav > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav ul {
  padding: 8px 0;
}

.nav li:first-child {
  padding-left: 0;
}

.nav ul li {
  margin: 0 20px 0 0;
}

a.active {
  border-bottom: 3px solid #2196f3FF;
}

a:hover {
  border-bottom: 3px solid #2196f3CC;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.user-profile {
  display: flex;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: auto;
}

.user-profile p {
  margin: 0 0 8px 0;
}

.user-profile .btn {
  margin: 0;
}

.user-profile .avatar {
  border-radius: 0;
  height: 52px;
  margin: 0 10px;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.questions-filter {
  align-content: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.questions-filter li:first-child {
  margin-left: auto;
}

.question-card {
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 2px;
  max-width: 600px;
  margin: 0 auto;
}

.question-card .avatar {
  border-bottom: 1px solid #eee;
  height: 32px;
  margin: 0 15px;
  float: left;
}

.question-card p:first-child {
  padding: 0;
}

.question-card p {
  padding: 0 63px;
}

.question-card .go-to {
  padding: 0 20px 0 63px;
}

.question-card .vote {
  background: #fefefe;
  border: 1px solid #eee;
  border-radius: 2px;
  cursor: pointer;
  max-width: 40%;
  margin: 5px 15px;
  padding: 5px 15px;
}

.question-card .vote p {
  padding: 0 20px;
}

.question-card .vote:hover {
  background: #2196f310;
  border-color: #2196f3CC;
}

.question-card .vote:disabled {
  background: #fefefe;
  border: 1px solid #eee;
  cursor: default;
}

.question-card .vote.voted {
  background: #2196f310;
  border-color: #2196f3CC;
  color: #333;
  font-weight: 500;
}

.question-card .progress-bar {
  border: 1px solid #eee;
  border-radius: 2px;
  min-width: 150px;
}

.question-card .progress {
  background: #eee;
  border-radius: 1px;
}

.question-card .vote.voted .progress-bar {
  border-color: #2196f3CC;
}

.question-card .vote.voted .progress {
  background: #2196f3;
  color: #fff;
  font-weight: 500;
}

.question-card .progress p {
  padding: 5px;
  margin: 0;
  text-align: right;
}

.question-card.new-question p {
  padding: 4px 25px;
}

.new-question input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 1em;
  margin: 0 5px;
  padding: 4px 8px;
  width: 90%;
}

.leaderboard {
  max-width: 600px;
  margin: 0 auto;
}

.leaderboard li {
  border-bottom: 1px solid #eee;
}

.leaderboard li:last-child {
  border: none;
}

.leaderboard-user {
  display: flex;
  flex-direction: row;
}

.leaderboard li:last-child {
  border: none;
}

.leaderboard-user svg {
  color: #d4af37;
  height: 30px;
  margin-top: 20px;
  width: 30px;
}

.leaderboard-user .avatar {
  margin-left: 40px;
}

.leaderboard li:first-child .avatar {
  margin-left: 10px;
}

.leaderboard-user p {
  font-size: 1.2em;
  margin: 14px 0;
}

.leaderboard-user p:first-child {
  margin-bottom: 0;
}

.leaderboard-user p:last-child {
  margin-top: 8px;
}

.leaderboard-user .numbers {
  font-size: 0.75em;
}

.leaderboard-user .score-container {
  font-size: 0.75em;
  margin-left: auto;
}

.leaderboard-user .score {
  font-size: 1.5em;
  font-weight: 700;
}

.login-contanier {
  max-width: 600px;
  margin: 0 auto;
}

.login-contanier li {
  background: #fefefe;
  border: 1px solid #eee;
  border-radius: 2px;
  cursor: pointer;
  margin: 10px 15px;
  padding: 10px 15px;
}

.login-contanier li.active,
.login-contanier li:hover {
  background: #2196f310;
  border-color: #2196f3CC;
  user-select: none;
}

.login-contanier .btn {
  font-size: 1em; 
  padding: 8px 20px;
  margin: 20px 16px 0 0;
}
